{% extends 'base.html' %} {%load static%}

{% block body %}
    <h1>Home</h1>
    <header>
        <img class="home-header-pic" src="" alt="">
        <button class="btn btn-default btn-rounded find-tickets-btn">FIND TICKETS</button>
    </header>
    <div class="live-comedy">

        <video width="320" height="240" controls>
            <source src="../videos/movie.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="events-calendar">
        <div class="card comedian">
            <img src="" alt="">
            <h4>Dave Chapelle</h4>
            <p>
                <span>Thurs// Jul 8</span>     Show: 11:00PM
            </p>
            <button class="btn btn-default btn-rounded find-tickets-btn">FIND TICKETS</button>
            <button class="btn btn-default btn-rounded event-details-btn">EVENT DETAILS</button>
        </div>
    </div>
    <div class="card subscribe-card">
        <h2>Laugh With Us!</h2>
        <p>Never miss an event! Sign up for our newsletter to recieve weekly news and updates.</p>
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modal">Sign Me Up</a>
        <p>We respect your privacy.</p>
        <p>Update your email preferences at any time.</p>
    </div>



    <div class="modal fade show" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'home' %}" method="POST">
                    <div class="modal-header text-center">
                        {% csrf_token %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title w-100 font-weight-bold">Sign Up For Our Newsletter!</h4>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn tbn-default">Subscribe!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if sub_error %}
    <script>
        $(document).ready(function () {
            $("#modal").modal('show');
        });
    </script>
    {% endif %}
    {% if sub_error == False %}
    <script>
        $(document).ready(function () {
            $("#modal").modal('hide');
        });
    </script>
    {% endif %}

{% endblock %}