{% extends 'base.html' %} {%load static%}

{% block body %}
    <h1>Home</h1>
    <header>
        <img class="home-header-pic" src="" alt="">
        <button class="btn btn-default btn-rounded find-tickets-btn">FIND TICKETS</button>
    </header>
    <div class="live-comedy">
        <video width="320" height="240" controls>
            <source src="../videos/movie.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="events-calendar">
        <h3>Events Calendar</h3>
        <div class="card comedian">
            <img src="https://static01.nyt.com/images/2017/03/18/arts/18CHAPPELLE-INTERVIEW/18CHAPPELLE-INTERVIEW-superJumbo.jpg" alt="Dave Chappelle" style="width:280px;height:180px;">
            <h4>Dave Chapelle</h4>
            <p>
                <span>Thurs// Jul 8</span>     Show: 11:00PM
            </p>
            <button class="btn btn-default btn-rounded find-tickets-btn">FIND TICKETS</button>
            <button class="btn btn-default btn-rounded event-details-btn">EVENT DETAILS</button>
        </div>
        <div class="card comedian">
            <img src="https://cdn1.thr.com/sites/default/files/2020/02/20181009_patriotact_ch_0023r-h_2020.jpg" alt="Hasan Minhaj" style="width:280px;height:180px;">
            <h4>Hasan Minhaj</h4>
            <p>
                <span>Thurs// Jul 8</span>     Show: 11:00PM
            </p>
            <button class="btn btn-default btn-rounded find-tickets-btn">FIND TICKETS</button>
            <button class="btn btn-default btn-rounded event-details-btn">EVENT DETAILS</button>
        </div>
        <div class="card comedian">
            <img src="https://m.media-amazon.com/images/M/MV5BZTE1YTgzYzctNDgyYS00OTY5LThmYjItZGQ2ZjJmY2NhY2I3XkEyXkFqcGdeQXVyMTAwOTg0NzU5._V1_.jpg" alt="Tina Fey" style="width:280px;height:180px;">
            <h4>Tina Fey</h4>
            <p>
                <span>Mon// Jul 13</span>     Show: 8:00PM
            </p>
            <button class="btn btn-default btn-rounded find-tickets-btn">FIND TICKETS</button>
            <button class="btn btn-default btn-rounded event-details-btn">EVENT DETAILS</button>
        </div>
        <div class="card comedian">
            <img src="https://images.squarespace-cdn.com/content/v1/5ad5947ce749401012fdbe97/1554760893425-WZUXNYLWV859R2MBIJKA/ke17ZwdGBToddI8pDm48kB4QEt8mlLSJ8Opxfx1jEmsUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcwpvq9qXBLCswoaX1dvchxKVh3PKSjpu5OdJCxBMitmcK-uQJB0ZWzqDerXCWMtra/M%26M.jpg?format=2500w" alt="Ali Wong" style="width:280px;height:180px;">
            <h4>Ali Wong</h4>
            <p>
                <span>Fri// Jul 17</span>     Show: 10:00PM
            </p>
            <button class="btn btn-default btn-rounded find-tickets-btn">FIND TICKETS</button>
            <button class="btn btn-default btn-rounded event-details-btn">EVENT DETAILS</button>
        </div>
        <button class="btn btn-default btn-rounded more-events-btn">SEE MORE EVENTS</button>
    </div>
    <div class="card subscribe-card">
        <h2>Laugh With Us!</h2>
        <p>Never miss an event! Sign up for our newsletter to recieve weekly news and updates.</p>
        <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modal">Sign Me Up</a>
        <p>We respect your privacy.</p>
        <p>Update your email preferences at any time.</p>
    </div>



    <div class="modal fade show" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'home' %}" method="POST">
                    <div class="modal-header text-center">
                        {% csrf_token %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title w-100 font-weight-bold">Sign Up For Our Newsletter!</h4>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn tbn-default">Subscribe!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade show" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form >
                    <div class="modal-header text-center">
                        {% csrf_token %}
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title w-100 font-weight-bold">Congrats on signing up for endless laughs! See you at the next event!</h4>
                    </div>
                    <div class="modal-body mx-3">
                        <button class="btn btn-default btn-rounded book-a-show-btn">BOOK A SHOW</button>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <img src="https://www.fodors.com/wp-content/uploads/2018/08/NYC-Comedy-Clubs-CAVEAT.jpg" alt="Group picture at comedy club">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if sub_error %}
        <script>
            $(document).ready(function () {
                $("#modal").modal('show');
            });
        </script>
    {% endif %}

    {% if sub_error == False %}
        <script>
            $(document).ready(function () {
                $("#modal").modal('hide');
            });
        </script>
    {% endif %}

    {% if success %}
        <script>
            $(document).ready(function () {
                $("#confirmationModal").modal('show');
            });
        </script>
    {% else %}
        <script>
            $(document).ready(function () {
                $("#confirmationModal").modal('hide');
            });
        </script>
    {% endif %}

{% endblock %}